.nested-fields
  .zairyo.clearfix
    .ingredients-field
      .ingredients-field__name
        = f.label :ingredients
      = f.text_field :ingredients, placeholder: "例) 薄力粉", class: 'ingredients-field__block'
    .quantity-field
      .quantity-field__name
        = f.label :quantity
      = f.text_field :quantity, placeholder: "例) 500g", class: 'quantity-field__block'
    = link_to_remove_association "削除", f
