.recipe-wrapper
  = render partial: 'shared/recipes-header', locals: {category: @category, yougashi: @yougashi, wagashi: @wagashi, other: @other}
  = render "shared/sweets-banner"

  .recipe-index__contents
    .recipe-index__contents--spacetop
    .recipe-index__contents--spaceside
      .index-block
        %section.index-block__grid
          - if @url == "/categories/1/recipes" && @yougashis1.present?
            - @yougashis1.each do |y|
              %article.someone-recipe
                = link_to recipe_path(y.id), method: :get, class: "someone-recipe__link" do
                  .grid-image
                    - y.recipe_images.each do |image|
                      = image_tag "#{image.image}", class: "grid-image__inner", alt: "#{y.name}"
                  .grid-information.clearfix
                    .grid-information__content
                      .grid-information__content--recipename
                        .recipename-text
                          = y.name
                      .grid-information__content--usernickname
                        .usernickname-text
                          by.
                          = y.user.nickname
                    .grid-information__heart
                      - if y.votes_count > 0 then
                        %i.fa.fa-heart.fa-2x{class: "grid-information__heart--content"}
                          = y.votes_count

          - elsif @url == "/categories/2/recipes" && @wagashis1.present?
            - @wagashis1.each do |w|
              %article.someone-recipe
                = link_to recipe_path(w.id), method: :get, class: "someone-recipe__link" do
                  .grid-image
                    - w.recipe_images.each do |image|
                      = image_tag "#{image.image}", class: "grid-image__inner", alt: "#{w.name}"
                  .grid-information.clearfix
                    .grid-information__content
                      .grid-information__content--recipename
                        .recipename-text
                          = w.name
                      .grid-information__content--usernickname
                        .usernickname-text
                          by.
                          = w.user.nickname
                    .grid-information__heart
                      - if w.votes_count > 0 then
                        %i.fa.fa-heart.fa-2x{class: "grid-information__heart--content"}
                          = w.votes_count

          - elsif @url == "/categories/3/recipes" && @others1.present?
            - @others1.each do |o|
              %article.someone-recipe
                = link_to recipe_path(o.id), method: :get, class: "someone-recipe__link" do
                  .grid-image
                    - o.recipe_images.each do |image|
                      = image_tag "#{image.image}", class: "grid-image__inner", alt: "#{o.name}"
                  .grid-information.clearfix
                    .grid-information__content
                      .grid-information__content--recipename
                        .recipename-text
                          = o.name
                      .grid-information__content--usernickname
                        .usernickname-text
                          by.
                          = o.user.nickname
                    .grid-information__heart
                      - if o.votes_count > 0 then
                        %i.fa.fa-heart.fa-2x{class: "grid-information__heart--content"}
                          = o.votes_count
          
          - elsif @url == "/recipes" 
            - @RECIPES.each do |r|
              %article.someone-recipe
                = link_to recipe_path(r.id), method: :get, class: "someone-recipe__link" do
                  .grid-image
                    - r.recipe_images.each do |image|
                      = image_tag "#{image.image}", class: "grid-image__inner", alt: "#{r.name}"
                  .grid-information.clearfix
                    .grid-information__content
                      .grid-information__content--recipename
                        .recipename-text
                          = r.name
                      .grid-information__content--usernickname
                        .usernickname-text
                          by.
                          = r.user.nickname
                    .grid-information__heart
                      - if r.votes_count > 0 then
                        %i.fa.fa-heart.fa-2x{class: "grid-information__heart--content"}
                          = r.votes_count
          
          - else
            - @recipes.each do |c|
              %article.someone-recipe
                = link_to recipe_path(c.id), method: :get, class: "someone-recipe__link" do
                  .grid-image
                    - c.recipe_images.each do |image|
                      = image_tag "#{image.image}", class: "grid-image__inner", alt: "#{c.name}"
                  .grid-information.clearfix
                    .grid-information__content
                      .grid-information__content--recipename
                        .recipename-text
                          = c.name
                      .grid-information__content--usernickname
                        .usernickname-text
                          by.
                          = c.user.nickname
                    .grid-information__heart
                      - if c.votes_count > 0 then
                        %i.fa.fa-heart.fa-2x{class: "grid-information__heart--content"}
                          = c.votes_count

    = render partial: 'shared/pagetop-btn'

    .pagenation-wrapper
      - if @url == "/categories/1/recipes" && @yougashis1.present?
        = paginate @yougashis1
      - elsif @url == "/categories/2/recipes" && @wagashis1.present?
        = paginate @wagashis1
      - elsif @url == "/categories/3/recipes" && @others1.present?
        = paginate @others1
      - elsif @url == "/recipes" 
        = paginate @RECIPES
      - else
        = paginate @recipes

    .recipe-index__contents--spacebottom

  = render "shared/recipes-footer"