.recipe-post
  .recipe-post__title
    .recipe-post__title--text
      レシピ投稿ページ
      = link_to recipes_path do
        = fa_icon "coffee", class: "coffee-new"

  .recipe-post__main
    .recipe-post__main--content

      = form_for (@recipe) do |f|
        .head
          レシピ投稿フォーム
        
        .recipe
          .recipe__name
            .recipe__name--text
              レシピタイトル
              %span.required 必須
            .recipe__name--box
              = f.text_field :name, class: 'input-name', placeholder: "例) マカロン"

          .recipe__genre
            .recipe__genre--text
              お菓子の種類は何ですか?
              %span.require 必須
            .recipe__genre--box
              = f.collection_select :genre_id, Genre.all, :id, :name, prompt: "--", class: "input-genre"

          .recipe__difficulty
            .recipe__difficulty--text
              レシピの難易度はどのくらいですか?
              %span.require 必須
            .recipe__difficulty--box
              = f.collection_select :difficulty_id, Difficulty.all, :id, :name, prompt: "--", class: "input-difficulty"

          .recipe__servers
            .recipe__servers--text
              何人分のレシピ
              %span.require 必須
            .recipe__servers--box
              = f.text_field :servers, class: 'input-servers', placeholder: "例) 4"
              人分

          .recipe__cookingtime
            .recipe__cookingtime--text
              お菓子作成の作業時間
              %span.requere 必須
            .recipe__cookingtime--box
              = f.text_field :cookingtime, class: 'input-cookingtime', placeholder: "例) 1時間40分"

          .recipe__bakingtime
            .recipe__bakingtime--text
              焼成時間
              %span.requere 必須
            .recipe__bakingtime--box
              = f.text_field :bakingtime, class: 'input-bakingtime', placeholder: "例) 10分"

          .recipe__bakingtemperature
            .recipe__bakingtemperature--text
              焼成温度
              %span.require 必須
            .recipe__bakingtemperature--box
              = f.text_field :bakingtemperature, class: 'input-bakingtemperature', placeholder: "例) 180"
              ℃

          .recipe__ingredients
            .recipe__ingredients--text
              このお菓子の材料と分量
              %span.require 必須

            %span.number
            &#9312;
            .recipe__ingredients--box
              = f.text_field :ingredients, class: 'input-ingredients', placeholder: "例) "
            %span.number
            &#9313;
            .recipe__ingredients--box
              = f.text_field :ingredients, class: 'input-ingredients', placeholder: "例) "
            %span.number
            &#9314;
            .recipe__ingredients--box
              = f.text_field :ingredients, class: 'input-ingredients', placeholder: "例) "
            %span.number
            &#9315;	
            .recipe__ingredients--box
              = f.text_field :ingredients, class: 'input-ingredients', placeholder: "例) "
            %span.number
            &#9316;
            .recipe__ingredients--box
              = f.text_field :ingredients, class: 'input-ingredients', placeholder: "例) "
            %span.number
            &#9317;
            .recipe__ingredients--box
              = f.text_field :ingredients, class: 'input-ingredients', placeholder: "例) "
            &#9318;	
            .recipe__ingredients--box
              = f.text_field :ingredients, class: 'input-ingredients', placeholder: "例) "
            &#9319;	
            .recipe__ingredients--box
              = f.text_field :ingredients, class: 'input-ingredients', placeholder: "例) "
            &#9320;	
            .recipe__ingredients--box
              = f.text_field :ingredients, class: 'input-ingredients', placeholder: "例) "
            &#9321;
            .recipe__ingredients--box
              = f.text_field :ingredients, class: 'input-ingredients', placeholder: "例) "
            枠が足りない場合はこちらへ
            .recipe__ingredients--box
              = f.text_area :ingredients, placeholder: '', class: "input-ingredients", rows: '8'

          .recipe__instruments
            .recipe__instruments--text
              このお菓子に使用する器具
              %span.require 必須
            .recipe__instruments--box
              = f.text_area :instruments, placeholder: '例) ホイッパー、ボール、カード、ゴムベラ、鍋、波刃包丁、まな板、バット、天板、ベイキングシート、オーブン など。 特殊なものがあればぜひお書きください。', class: "input-instruments", rows: '8'

          .recipe__method
            .recipe__method--text
              このお菓子の作り方
              %span.require 必須
           
            %span.number
            &#9312;
            .recipe__method--box
              = f.text_field :method, class: 'input-method', placeholder: "例) "
            %span.number
            &#9313;
            .recipe__method--box
              = f.text_field :method, class: 'input-method', placeholder: "例) "
            %span.number
            &#9314;
            .recipe__method--box
              = f.text_field :method, class: 'input-method', placeholder: "例) "
            %span.number
            &#9315;	
            .recipe__method--box
              = f.text_field :method, class: 'input-method', placeholder: "例) "
            %span.number
            &#9316;
            .recipe__method--box
              = f.text_field :method, class: 'input-method', placeholder: "例) "
            %span.number
            &#9317;
            .recipe__method--box
              = f.text_field :method, class: 'input-method', placeholder: "例) "
            &#9318;	
            .recipe__method--box
              = f.text_field :method, class: 'input-method', placeholder: "例) "
            &#9319;	
            .recipe__method--box
              = f.text_field :method, class: 'input-method', placeholder: "例) "
            &#9320;	
            .recipe__method--box
              = f.text_field :method, class: 'input-method', placeholder: "例) "
            &#9321;
            .recipe__method--box
              = f.text_field :method, class: 'input-method', placeholder: "例) "
            枠が足りない場合はこちらへ
            .recipe__method--box
              = f.text_area :method, placeholder: '', class: "input-method", rows: '8'
            
          .recipe__images
         
          .recipe__videos