.sweets-wrap
  .sweet.tl
    .subtitle
      ポートフォリオ
    .title
      お菓子好き集合!!
  .sweet.tr
    = image_tag "IMG_20190106_182431553.jpg", class: "img1"
  .sweet.br
    = image_tag "IMG_20190106_182431553.jpg", class: "img2"
  .sweet.bl
    = image_tag "IMG_20190106_182431553.jpg", class: "img3"
  = link_to "/users/siteguide", class: "cookie" do
    = fa_icon "coffee", class: "cookie-icon"
    入室
