.site-guide
  .header-guide
    .header-guide__header
      お菓子づくりが好きな全ての人たちに...
    .header-guide__menu.clearfix
      = link_to "自己紹介", "#aboutme-link", class: "aboutme"
      = link_to "このサイトについて", "#thissite-link", class: "thissite"
      = link_to "スイーツページへ", "/recipes", class: "confectionery"

  .main-guide
    %p.text-title
      サイト内紹介
    .main-guide__contents
      .aboutme-box{id: "aboutme-link"}
        .aboutme-box__name
          ABOUT ME
        %p.aboutme-box__text
          はじめまして。プログラミングの勉強を2019年10月から始めました。こちらは初めてのアプリ製作になります。ぜひご覧ください。
      .thissite-box{id: "thissite-link"}
        .thissite-box__description
          どのような機能を用意したか
        %p.thissite-box__text
          このサイトでは、お菓子レシピの閲覧を全てのユーザーがすることができます。そして、ユーザー新規登録後は、レシピに対し、コメントを残すことができるようになっています。
  
  .footer-guide
    = link_to "/users", class: "back" do
      = fa_icon "coffee"
      トップページに戻る



