.site-guide
  .header-guide
    .header-guide__title
      BonBon♡SWEETS
    .header-guide__subtitle
      お菓子が好きな全ての人たちに...
    .header-guide__menu.clearfix
      = link_to "開発環境", "#aboutme-link", class: "aboutme"
      = link_to "このサイトについて", "#thissite-link", class: "thissite"
      = link_to "スイーツページへ", "/recipes", class: "confectionery"
      .header-guide__menu--reference
        ※RitaEによるPixabayからの画像より引用
        ※Referenced from RitaE - Pixabay
    .header-guide__image

  .main-guide
    .main-guide__text
      .main-guide__text--title
        菓子レシピ投稿・検索アプリ
    .main-guide__contents
      .main-guide__contents--inner
        .aboutme-box{id: "aboutme-link"}
          .aboutme-box__name
            開発環境
          .aboutme-box__text
            (本番環境)
            ・Rubyのバージョン
            ruby 2.5.7
            ・Railsのバージョン
            Rails 5.0.7.2
            ・データベース
            MySQL2
        .thissite-box{id: "thissite-link"}
          .thissite-box__description
            サイトの機能
          .thissite-box__user
            (ユーザー系)
            新規登録
            ログイン
            (テストユーザーとしてログインできます)
            ログアウト
            (使用したgem)
            devise 
          .thissite-box__recipe
            (レシピ系)
            (未ログイン時)
            レシピ閲覧
            いいね数閲覧
            カテゴリー検索
            (ログイン後)
            レシピ投稿
            レシピ編集
            レシピ削除
            いいね機能
            カテゴリー検索
            (使用したgem)
            nested_form_fields
            ancestry
            seed-fu 
            carrierwave
            mini_magick
            fog-aws
            active_hash
          .thissite-box__gem
            (レイアウト系)
            ・コーヒーアイコンで、1ページ戻ります
            ・１ページにつき、6レシピまで表示
            (使用したgem)
            haml-rails 
            sassc-rails
            font-awesome-rails
            pry-rails
            jquery-rails
            owlcarousel-rails
            kaminari
            dotenv-rails

  .footer-guide
    = link_to "/users", class: "back" do
      = fa_icon "coffee"
      Back
