.recipe-header
  .recipe-header__title
    SWEETS SITE
    = link_to "/users/siteguide", class: "coffee-recipesheader" do
      = fa_icon "coffee"

  .recipe-header__navigation
    .recipe-header__navigation--inner
      = render partial: 'categories/parent_category', locals: {recipe: recipe, yougashi: yougashi, wagashi: wagashi, other: other}
      -# - binding.pry
      
      %ul.inner-right
        %li
          %a.sweets-banner.play スライド再生
        %li
          %a.sweets-banner.stop 停止
        - if user_signed_in?
          %li
            = link_to user_path(current_user.id), class: "user-mypage" do
              = fa_icon "user", class: "icon"
              マイページ
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-signout"
          %li
            = link_to "レシピ投稿", new_recipe_path, class: "ourrecipes-posts" 
              
        - else
          %li
            = link_to "ログイン", new_user_session_path, class: 'user-signin'
            
          %li
            = link_to "新規登録", new_user_registration_path, class: "user-signup"
