.sweets-banner.owl-carousel
  .sweets-banner__images
    = image_tag "P1000264.JPG", style: "width: 200px; height:200px;", class: "sweets-banner__images--item"
  .sweets-banner__images
    = image_tag "P1000316.JPG", style: "width: 200px; height:200px;", class: "sweets-banner__images--item"
  .sweets-banner__images
    = image_tag "P1000315.JPG", style: "width: 200px; height:200px;", class: "sweets-banner__images--item"
  .sweets-banner__images
    = image_tag "P1010217.JPG", style: "width: 200px; height:200px;", class: "sweets-banner__images--item"
  .sweets-banner__images
    = image_tag "P1000419.JPG", style: "width: 200px; height:200px;", class: "sweets-banner__images--item"
  .sweets-banner__images
    = image_tag "P1010372.JPG", style: "width: 200px; height:200px;", class: "sweets-banner__images--item"
  .sweets-banner__images
    = image_tag "P1020028.JPG", style: "width: 200px; height:200px;", class: "sweets-banner__images--item"
  .sweets-banner__images
    = image_tag "P1000027.JPG", style: "width: 200px; height:200px;", class: "sweets-banner__images--item"
  .sweets-banner__images
    = image_tag "P1000263.JPG", style: "width: 200px; height:200px;", class: "sweets-banner__images--item"
  .sweets-banner__images
    = image_tag "P1000149.JPG", style: "width: 200px; height:200px;", class: "sweets-banner__images--item"
  .sweets-banner__images
    = image_tag "P1000013.JPG", style: "width: 200px; height:200px;", class: "sweets-banner__images--item"

