-# ログインページ

.wrapper-login

  = render "shared/account-header"
  
  .wrapper-login__inner
    .wrapper-login__inner--content
      .login-text
        登録しているユーザーでログイン
      .login-box
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field-login.clearfix
            .field-login__label
              = f.label :login
              %span 必須
            .field-login__input
              = f.text_field :login, autofocus: true, placeholder: "ニックネームorメールアドレスを入力してください。", class: "field-login__input--inside"

          .field-login.clearfix
            .field-login__label
              = f.label :password
              %span 必須
            .field-login__input
              = f.password_field :password, autocomplete: "current-password", placeholder: "パスワードを入力してください。", class: "field-login__input--inside"
          
          .actions-login
            = f.submit "ログイン", class: 'account-btn'

  = render "shared/account-footer"

